export ETH_RPC_URL=https://eth-rinkeby.alchemyapi.io/v2/9OObbu1M06fK7QrUJzt1f6sqcPRZzRAU
export ETH_GAS_LIMIT=1000000
export ETHERSCAN_API_KEY=XKPA5JPD364S4YQEWDA2C6XHTJWP2HSRBQ
export CHAIN=rinkeby
export PRIVATE_KEY=e94ce4a13b198fd6f4e1c654198a1347897cc086dd9921e451f483a9c103f4fa
